<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AMPOULE</title>
    <link rel="stylesheet" href="../static/lib/external.css">
    <script type="text/javascript" src="/static/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/registrationCard.js"></script>
</head>
<body>

<header class="page-header">
    <h1> Ампула </h1>

</header>


<main class="page-main">
    <div class="enter" style=" padding:10%">
        <form>
            <fieldset>
                <p>Login</p>
                <input type="text" id="email">
                <p>Password</p>
                <input type="password">
                <input type="button" name="Login" value="Войти" onclick="">
                <input type="button" name="Login" value="Забыл пароль" onclick="">

            </fieldset>
        </form>

    </div>

</main>

<footer class="page-footer">


</footer>

</body>
</html>