<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>AMPOULE</title>
        <link rel="stylesheet" href="/lib/external.css"/>
        <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/js/registrationCard.js"></script>
        <link href="../static/styles/style.css" rel="stylesheet">

    </head>
    <body>

    <header class="page-header">
        <h1> Ампула </h1>

    </header>


    <main class="page-main">
        <div class="enter" style=" padding:10%">
            <form>
                <fieldset class="fieldToLogin">
                    <p>Login</p>
                    <input type="email" id="email" required="required"/>
                    <p>Password</p>
                    <input type="password" id="password" required="required"/>

                    <input type="button" class="but" name="sign_in" value="Войти" onclick="signIn()"/>
                    <input type="button"  class="but" name="forgotPass" value="Забыл пароль" onclick="forgotPassword()"/>
                    <input type="button"  class="but" name="sign_up" value="Зарегистрироватся"
                           onclick= "location.href = '/registrationCard.html'"/>

                    <div id="service_message">

                    </div>


                </fieldset>
            </form>

        </div>

    </main>

    <footer class="page-footer">


    </footer>

    </body>
</html>