<!doctype html>
<html>
<head>
    <title>Ampoule</title>
    <meta name="description" content="Doctor page"/>

    <link type="text/css" rel="stylesheet" href="/styles/doctor_css/doctorPage.css"/>
    <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/doctor.js"></script>

</head>

<body>

<fieldset id="doctor_info_for_page">
    <legend id="legend_doctor_info_for_page">Info</legend>
    <div class="doctor_info_form_server">

    </div>
</fieldset>
<!--скрипт для автоматической подгрузки полей как только начнется загрузка html страницы-->
<script>
    window.onload = function () {
        $.ajax('/doctor/get/active', {
                type: 'GET',

                success: function (response) {
                    $('#doctor_info_for_page')
                        .append('Id: ' + response.id + '<br/>')
                        .append('Name: ' + response.name + '<br/>')
                        .append('Surname: ' + response.surname + '<br/>')
                }
            }
        )
    }
</script>

<form id="doctorWorkingForm">
    <fieldset id="doctor_control_buttons_for_page">
        <legend id="legend_doctor_control_buttons_for_page">Control buttons</legend>
        <input class="control_buttons" type="button" value="Find card" onclick="getCardById()"/>
        <input class="control_buttons" type="button" value="Get all cards" onclick="getAllCards()"/>
    </fieldset>

    <fieldset id="doctor_output_window">
        <legend>Output window</legend>
        <div id="output_info_window">

        </div>
    </fieldset>

</form>

</body>

</html>
