<!doctype html>
<html>
<head>
    <title>Ampoule</title>
    <meta name="description" content="Doctor page"/>

    <link href="../static/styles/style.css" rel="stylesheet"/>
    <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/doctor.js"></script>


</head>

<body>

<fieldset class="field">
    <legend id="legend_doctor_info_for_page">Info</legend>
    <div class="enter">

    </div>
</fieldset>
<!--скрипт для автоматической подгрузки полей как только начнется загрузка html страницы-->
<script>
    window.onload = function () {
        $.ajax('/doctor/get/active', {
                type: 'GET',

                success: function (response) {
                    $('#doctor_info_for_page')
                        .append('Id: ' + response.id + '<br/>')
                        .append('Name: ' + response.name + '<br/>')
                        .append('Surname: ' + response.surname + '<br/>')
                }
            }
        )
    }
</script>

<form id="enter">
    <fieldset id="doctor_control_buttons_for_page" class="field">

        <input class="but" type="button" value="Control buttons"/>
        <input   class="but" type="button" value="Find card" onclick="getCardById()"/>
        <input    class="but" type="button" value="Get all cards" onclick="getAllCards()"/>
    </fieldset>

    <fieldset id="doctor_output_window" class="field">
        <legend>Output window</legend>
        <div id="output_info_window">

        </div>
    </fieldset>

</form>

</body>

</html>
