<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>AMPOULE</title>

    <link rel="stylesheet" href="/lib/external.css"/>
    <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="/js/registrationCard.js"></script>
    <link href="/styles/style.css" rel="stylesheet"/>
</head>

<body>

<header class="page-header">


</header>

<main class="card-main">
    <div class="card-div">
        <form>
            <fieldset>
                <input type="button" class="but" name="showDoctors" value="Показать докторов" onclick=""/>
                <input type="button" class="but" name="showNotes" value=" Показать медицинскую карту " onclick=""/>
                <input type="button" class="but" name="exitFromAccount" value=" Выйти из учётной записи  " onclick=""/>

            </fieldset>
        </form>

    </div>

    <div class="placeToInfo" style=" margin-top: 10px">
        <form>
            <fieldset>
                <p> Тут будет инфа про докторов и записи </p>

            </fieldset>


        </form>

    </div>

</main>

</body>

</html>