<!--*
 Created by Anton Platunov 13.01.2019
 * -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>AMPOULE</title>

    <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/registrationCard.js"></script>
    <link href="../static/styles/style.css" rel="stylesheet"/>
</head>

<body>
<div class="login-page">
    <form class="enter">
        <fieldset class="field">
            <p>e-mail:</p>
            <input class="form-field" type="text" id="email"/>

            <p>password:</p>
            <input class="form-field" type="password" id="password"/>

            <p> confirm password:</p>
            <input class="form-field" type="password" id="passwordConfirm"/>

            <p>name:</p>
            <input class="form-field" type="text" id="name"/>

            <p>surname:</p>
            <input  class="form-field" type="text" id="surname"/>

            <p> gender:</p>
            <p><input name="gender" type="radio" value="male"/> male</p>
            <p><input name="gender" type="radio" value="female"/> female</p>


            <p> birthday:</p>
            <input  type="date" id="birthday"/>

            <p> height:</p>
            <input class="form-field" type="text" id="height"/>

            <p> weight:</p>
            <input  class="form-field" type="text" id="weight"/>


            <h1>
                <input type="button" class="but" name="Login" value="Регистрация" onclick=""/>
                <input type="button" class="but" name="Cancel" value="Отмена" onclick=""/>
            </h1>

        </fieldset>
    </form>

</div>
</body>


</html>